<div class="well user-story">
	<h1> <%= link_to user_story.title, user_story %> </h1>
	<h2> Description: </h2><p> <%= user_story.description %></p>
	<h2> Acceptance criteria: </h2><p> <%= user_story.criteria %><br> <br>
</div>