<h1>Sprint <%= @sprint.name %></h1>
<%= link_to "Add User Story", :controller => 'user_stories', :action => 'new', :sprint_id => @sprint.id %><br>

<div class="tasklist-parent">		
	<div class="tasklist"></div>
	<ul id="tasklistReady" class="tasklist">
		<div class="tasklist-header">Ready</div>
	</ul>
	<ul id="tasklistInProgress" class="tasklist">
		<div class="tasklist-header">In Progress</div>
	</ul>
	<ul id="tasklistDone" class="tasklist">
		<div class="tasklist-header">Done</div>
	</ul>
</div>
<ul id="userStoryList">
	<% @sprint.user_stories.each do |user_story| %>
			<%= render 'taskboard', user_story: user_story %>
	<% end %>
</ul>
<script type="text/javascript">
    $("#userStoryList").sortable();
</script>