<h1>Sprint <%= @sprint.name %></h1>
<%= link_to "Add User Story", :controller => 'user_stories', :action => 'new', :sprint_id => @sprint.id %><br>

<ul id="userstorylist">
	<% @sprint.user_stories.each do |user_story| %>
		<%= render user_story, :user_story => user_story %>
	<% end %>
</ul>
<script type="text/javascript">
    $("#userstorylist").sortable();
</script>