// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well-design {
	background-color:#93d9a6;
}
.well-development {
	background-color:#99c7ff;
}

.well-documentation {
	background-color:#ff7575;
}

.well-spike {
	background-color:#e697e6;
}
