// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$circle-size: 5em;

.avatar-image
{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: $circle-size;
    height: $circle-size;
}

.circle
{
	border-radius: 50%;
	width: $circle-size;
	height: $circle-size; 
	line-height: $circle-size;
	background-color: #edf0f2;
	text-align: center;
	margin-left: auto;
}

.circle-text
{
	font-size: 2.5em;
}

.well
{
	width: auto;
	height: auto;
	margin: 0.5em;
	display: block;
	cursor: pointer;
}

.task-placeholder
{
	width: auto;
	height: auto;
	margin: 0.5em;
	display: block;
}

.well-test
{
	background-color:#F69679;
}

.well-design 
{
	background-color:#ffffff;
}
.well-development 
{
	background-color:#7ACCC8;
}

.well-documentation 
{
	background-color:#ffffff;
}

.well-spike
{
	background-color:#E8B968;
}

.tasklist-parent
{
	// Child elements flex to fit.
	display: flex;
	display: -ms-flexbox;
  display: -webkit-flex;
	
	padding: 1em;
	width: 90em;
}

.tasklist
{
	border-radius: 4px;
	background-color: #ffffff;
	width: 30em;
	height: width;
}

.tasklist-header
{
	font-size: 3em;
}
