// Place all the styles related to the UserStories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-story
{
	margin: auto;
}

.big-circle 
{
	border-radius: 50%;
	width: 5.5em;
	height: 5.5em; 
	text-align: center;
	line-height: 5.5em;
	margin: 0.3em;
}

.priority
{
	background-color: #F18C79;
}

.hours
{
	background-color: #84CDC2;
}

.story-points
{
	background-color: #84CDC2;
}

.circle-align
{
	display: -ms-flexbox;
  display: -webkit-flex;
	display: flex;
	
	margin: auto;
	border-radius: 4px;
}
